<form action="/translated" method="get">
  <label for="text">Enter Scriptynote here:</label><br>
  <textarea id="text" name="markdown" rows="10" cols="80" 
            style="font-size: 16px; padding: 10px; line-height: 1.5; font-family: Arial, sans-serif;"><%= @markdown %></textarea><br>
  <input type="submit" value="Convert to markdown!">
</form>
